.item-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.row-item-admin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    border: 1px solid black;
}
.add-item{
    display: flex;
    flex-direction: row;
   
}
.item{
    border:1px solid rgb(233, 225, 225);
    background:rgb(255, 255, 255) ;
    height: 360px;
    width: 360px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border:2px solid rgb(51, 29, 29) ;
    box-sizing: border-box;
    margin: 15px 10px;
}
.item-image{
    background-size: cover;
    background-position: center;
    height:150px;
    width: 100%;
}
.item-btn{
    outline: none;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 4px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 0;

}
.item-item > .title{
    font-size: 20px;
    font-weight: bold;
}
.item-item > .description{
    color: #666;
}

.coupon-item > .price{
    font-style: italic;
    color: black;
}

